body {
    background-color: black;
}
img {
    max-width: 200px;
    min-width: 200px;
    margin: 10px;
    display: flex;
}

h1 {
    font: 200;
    font-family: cursive;
    text-align: center;
    color: white;
}

#search-form {
    display: flex;
    align-self: center;
    justify-content: center;
}

#search-form div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#gif-container {
    display: flex;
    flex-wrap: wrap;
}

button {
    margin-left: 5px;
    background-color: orangered;
    color: white;
}